<% include partials/head %>
<body>
  <h1>Complete the data:</h1>
  <form action="/api/create" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="surname" placeholder="surname">
    <input type="submit" value="Add">
  </form>
</body>
</html>
